@charset "UTF-8";
.window{
	height:100%;
	width:100%;
	display:flex;
}

.specialty{
	width:50%;
	background-color:#00ff00;
}

.top{
	width:50%;
	background-color:#00ff00;
}

.left{
	width:35%;
	height:auto;
}

.right{
	width:65%;
	height:auto;
}

.img{
	width:auto;
	height:100px;
}

footer{
	clear:both;
}