@charset "UTF-8";
.window{
	height:100%;
	width:100%;
	display:flex;
}

.plece{
	width:50%;
	background-color:#00ff00;
}
.top{
	width:50%;
	background-color:#00ff00;
}

.left{
	width:35%;
}

.right{
	width:65%;
}

.img{
	width:300px;
	height:300px;
}