@charset "UTF-8";
.window{
	height:100%;
	width:100%;
	display:flex;
}

.title{
	width:30%;
}

.another{
	width:30%;
}

.left{
	width:35%;
}

.right{
	width:65%;
}

.img{
	width:300px;
	height:300px;
}